[Unit]
Description=KNXSonos, bridging between KNX and Sonos
After=syslog.target knxdataif.service
BindsTo=knxdataif.service

[Service]
User=trond
Environment="PYTHONIOENCODING=utf-8"
WorkingDirectory=/home/trond/knxsonos
ExecStart=/usr/local/bin/knxsonos
Restart=always



[Install]
WantedBy=knxdataif.service
